*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  min-inline-size: 1140px;
  gap: 30px;
}
 /*result*/

.result {
  align-self: self-end;
  
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  margin-bottom: 18px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

/*search*/

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
  text-decoration: underline transparent;
  transition: all 0.3s ease;
  align-items: center;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  border: none;
  inline-size: 100%;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield {
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border-top: 1px hidden color;
  border-bottom: 1px hidden color;
  border-right: none;
  border-left: none;
  inline-size: 225px;
  appearance: none;
  word-spacing: -5px;
}

.search-form__textfield:active {
  border: 1px solid currentColor;
}

.search-form__textfield:focus {
  outline: none;
  border-left: 1px;
  border-right: 1px;
}
  

.search-form__label:has(:focus-visible) {
  border: 1px solid #fff;
  border-block: 1px;
}

.search-form__checkbox-list {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 4px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid currentColor;
  transition: all 0.3s esae;
  margin-bottom: 5px;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
  width: 15px;
  height: 15px;
  outline: 1px solid #fff;
  outline-offset: 1px;
  margin: 2px;
 
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
}

/*button*/

.button {
  display: flex;
  height: 34px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #fff;
  border: 1px solid currentColor;
  background-color: transparent;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
  text-decoration: underline transparent;
  transition: all 0.3s ease;
  padding-top: 1px;
  
  
}

.search-form__submit-button {
  
  align-self: flex-end;
  inline-size: 194px;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/*content*/

.content__details {
  inline-size: 100%;
  block-size: 100%;
  flex-shrink: 1;
}

.content__list {
  display: flex;
  flex-direction: column;
  block-size: 298px;
  overflow: auto;
  position: relative;
}

.content__list-item {
  padding-bottom: 30px;
} 

.content__list-item:last-child {
  padding-bottom: 0;
} 

.content__video-card {
  display: flex;
  justify-content: space-between;
  width: 395px;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.title {
  padding-bottom: 23px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%; /*70.5px;*/
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  margin: 2px;
  transition: all 0.3s ease;
}

.content__card-link:hover {
  text-decoration: underline #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100% /*30px*/;
  text-transform: uppercase;
  padding-bottom: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 200px;
  /*scrollbar-width: none;*/
}

.content__video-card-description {
  color: #fff;
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;  
  width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content__card-link_current {
  background-color: #545050;
}

.more-button {
  width: 399px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
